<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <title>Opdater Attraktion</title>
</head>
<body>

<h1>Ændring af informationer</h1>
<!--
<form action="#" th:action="@{/attractions/update}" th:object="${touristAttraction}" method="post">
    <label>Navn: <input type="text" th:field="*{name}"/></label> <br>
    <label>Beskrivelse: <input type="text" th:field="*{description}"/></label> <br>
    <label>By: <input type="text" th:field="*{city}"/></label> <br>
    <fieldset>
        <legend>Vælg relevante tags</legend>

        <input type="checkbox" th:field="*{tags}" id="option1" name="tag" value="børnevenlig">
        <label for="option1">Børnevenlig</label> <br>
    </fieldset>
    <br>
    <button type="submit">opdater</button>
</form>
-->
<form action="#" th:action="@{/attractions/update}" th:object="${touristAttraction}" method="post">
    <div>
        <label>Navn:</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <br>
    <div>
        <label>Beskrivelse:</label>
        <input type="text" th:field="*{description}"/>
    </div>
    <br>
    <div>
        <label>By:</label>
        <select th:field="*{city}">
            <option value="">--Vælg By--</option>
            <option th:each="by : ${cities}" th:value="${by}" th:text="${by}"></option>
        </select>
    </div>
    <br>
    <fieldset>
        <legend>Vælg relevante tags</legend>
        <div th:each="tag : ${ord}">
            <input type="checkbox" th:field="*{tags}" th:value="${tag}"/>
            <label th:text="${tag}"></label>
        </div>
    </fieldset>
    <br>
    <div class="button-container">
        <button type="submit">Opdater</button>
        <a href="http://localhost:8080/attractions">
            <button type="button">Fortryd</button>
        </a>
    </div>
</form>

</body>
</html>