<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater Attraktion</title>
</head>
<body>

<h1>Ændring af informationer</h1>
<!--
<form action="#" th:action="@{/attractions/update}" th:object="${touristAttraction}" method="post">
    <label>Navn: <input type="text" th:field="*{name}"/></label> <br>
    <label>Beskrivelse: <input type="text" th:field="*{description}"/></label> <br>
    <label>By: <input type="text" th:field="*{city}"/></label> <br>
    <fieldset>
        <legend>Vælg relevante tags</legend>

        <input type="checkbox" th:field="*{tags}" id="option1" name="tag" value="børnevenlig">
        <label for="option1">Børnevenlig</label> <br>
    </fieldset>
    <br>
    <button type="submit">opdater</button>
</form>
-->
<form action="#" th:action="@{/attractions/save}" th:object="${touristAttraction}" method="post">
    <label>Navn: <input type="text" th:field="*{name}"/></label> <br>
    <label>Beskrivelse: <input type="text" th:field="*{description}"/></label> <br>

    <select th:field="*{city}">
        <option value="">--Vælg By--</option>
        <option th:each="by : ${cities}" th:value="${by}" th:text="${by}"></option>
    </select>

    <div th:each="tag : ${ord}">
            <input type="checkbox" th:field="*{tags}" th:value="${tag}" th:text="${tag}"/>
    </div>
    <br>
    <button type="submit">ok</button>
</form>
    <a href="http://localhost:8080/attractions">
        <button>Fortryd</button>
    </a>
</body>
</html>